@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  padding-left: 10px;
  padding-right: 10px;
}


@media screen and (max-width: 768px) {
  .open {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .closed {
    display: none;
  }

  .hamburger-react {
     display: block;
  }
}

@media screen and (min-width: 768px) {

  .hamburger-react {
     display: none;
  }

  .app-container {
    padding-left: 65px;
    padding-right: 65px;
  }
}

.header-title {
  position: relative
}

.header-title::after {
  content: '';
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: black;
  border-radius: 50%;
  top: 4px;
  right: -7px;

}

.swiper-slide {
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.swiper-pagination-horizontal {
  /*background-color: #222;*/
  width: 100px;
  position: absolute;
  bottom: 10px;

}

.swiper-slide img {
  width: 100%;
}













